header {
  height: 25rem;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
}
header .pf-wrap {
  position: absolute;
  width: 100%;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: no-repeat center;
  background-size: cover;
}
header .pf-wrap .pf-picture {
  margin: 0 auto 0;
  padding: .4rem;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  overflow: hidden;
}
header .pf-wrap .pf-picture .pf-picture-wrap {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  overflow: hidden;
}
header .pf-wrap .pf-picture .pf-picture-wrap img {
  display: block;
  width: 100%;
  height: 100%;
}
header .pf-wrap .pf-name {
  margin-top: .6rem;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  vertical-align: text-bottom;
}
header .pf-wrap .pf-name .name {
  display: inline;
  font-size: 2.2rem;
}
header .pf-wrap .pf-intro {
  font-size: 1.6rem;
  margin-top: .4rem;
  text-align: center;
  color: #fff;
  line-height: 1.8rem;
  text-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.5);
}
header .nav {
  position: fixed;
  width: 80%;
  max-width: 78rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 10;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
header .nav .nav-list {
  display: flex;
  align-items: center;
}
header .nav .nav-list .nav-list-item {
  padding: 0 .6rem;
  color: #ffffff;
}
header .nav .nav-list .nav-list-item:not(:last-child) {
  margin-right: 1rem;
}
header .nav-scroll {
  background-image: linear-gradient(rgba(230, 134, 32, 0.8), rgba(228, 69, 3, 0));
  opacity: .8;
}
header .nav-scroll .nav-list {
  display: flex;
  align-items: center;
}
header .nav-scroll .nav-list .nav-list-item {
  padding: 0 .6rem;
  color: #480300;
}
header .nav-scroll .nav-list .nav-list-item:hover {
  mix-blend-mode: difference;
}
header .nav-scroll .nav-list .nav-list-item:not(:last-child) {
  margin-right: 1rem;
}
header .contact {
  position: absolute;
  left: 8px;
  bottom: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
header .contact .contact-item {
  width: 30px;
  height: 30px;
}
header .contact .contact-item:hover {
  mix-blend-mode: difference;
}
header .contact .contact-item img {
  display: block;
  width: 100%;
  height: 100%;
}
header .contact .contact-item:not(:last-child) {
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  header {
    height: 20rem;
  }
  header .pf-wrap {
    height: 20rem;
  }
  header .pf-wrap .pf-picture .pf-picture-wrap {
    width: 8rem;
    height: 8rem;
  }
  header .pf-wrap .pf-name .name {
    font-size: 2rem;
  }
  header .pf-wrap .pf-intro {
    font-size: 1.4rem;
  }
  header .nav {
    width: 100%;
    padding: .3rem 1rem;
  }
  header .nav .nav-list .nav-list-item {
    padding: 0 .6rem;
  }
  header .header-bg {
    height: 20rem;
  }
}
