#index {
  position: relative;
  font-family: Handwriting;
  background: #dcb19b;

  .main {
    width: 100%;
    margin: 80px auto 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #ffffff;
    main {
      min-height: 1000px;
    }
  }
}
