@keyframes show-fade-up {
  from {
    opacity: 0;
    bottom: -8rem;
  }
  to {
    opacity: 1;
    bottom: 0;
  }
}
@keyframes router-fade {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@-webkit-keyframes router-fade {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@-moz-keyframes router-fade {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes toproll {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes toproll {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes toproll {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes links {
  0% {
    -webkit-transform: rotate(-2deg);
  }
  100% {
    -webkit-transform: rotate(2deg);
  }
}
@-webkit-keyframes navDown {
  0% {
    opacity: 0;
    transform: scale(1) translateY(-10em);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
@-webkit-keyframes articleUp {
  0% {
    opacity: 0;
    transform: scale(1) translateY(10em);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
@-webkit-keyframes show {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  70% {
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@-webkit-keyframes toTop {
  0% {
    opacity: 0;
    transform: translateX(10em);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
#index {
  position: relative;
  padding: 4px;
}
#index .index-title {
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  font-size: 2.4rem;
  font-weight: 600;
}
#index .tags {
  width: 100%;
  display: flex;
  align-items: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#index .tags .tags-item {
  padding: .2rem .6rem;
  font-size: 1.6rem;
  color: #3d3d3d;
  -webkit-border-radius: .4rem;
  -moz-border-radius: .4rem;
  border-radius: .4rem;
  margin-bottom: 1rem;
  box-shadow: 0 0 3px #333;
  -webkit-box-shadow: 0 0 3px #333;
  -moz-box-shadow: 0 0 3px #333;
  cursor: pointer;
}
#index .tags .tags-item:hover {
  background-color: #f7f7f7 !important;
}
#index .tags .tags-item:nth-child(4n+1) {
  background-color: #bee1e5;
}
#index .tags .tags-item:nth-child(4n+2) {
  background-color: #d9e8bf;
}
#index .tags .tags-item:nth-child(4n+3) {
  background-color: #fff2a4;
}
#index .tags .tags-item:nth-child(4n+4) {
  background-color: #ffb1bd;
}
#index .tags .tags-item:not(:last-child) {
  margin-right: 1.6rem;
}
#index .article-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px;
  overflow: hidden;
}
#index .article-list .article-list-item {
  width: 100%;
  position: relative;
  padding: 1.5rem 1.2rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-animation: articleUp .8s;
  animation: articleUp .8s;
  border-bottom: thin dashed #c8c8c8;
}
#index .article-list .article-list-item .article-info-wrap {
  width: 100%;
  display: flex;
  align-items: center;
}
#index .article-list .article-list-item .article-info-wrap .article-author-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid #e7e7e7;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
}
#index .article-list .article-list-item .article-info-wrap .article-author-img:hover {
  border-color: #ffb733;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
}
#index .article-list .article-list-item .article-info-wrap .article-author-img img {
  display: block;
  width: 100%;
  height: 100%;
}
#index .article-list .article-list-item .article-info-wrap .vertical-line-div {
  position: relative;
  width: 3px;
  height: 7rem;
  text-align: center;
  margin: 0 .8rem 0 1.6rem;
}
#index .article-list .article-list-item .article-info-wrap .vertical-line-div .vertical-line {
  display: inline-block;
  height: 4rem;
  margin-top: 1.5rem;
  width: 1px;
  background-color: #DADADA;
  transition: all .2s ease;
  -webkit-transition: all ease .2s;
  -moz-transition: all ease .2s;
  -ms-transition: all ease .2s;
}
#index .article-list .article-list-item .article-info-wrap .article-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#index .article-list .article-list-item .article-info-wrap .article-info .article-info-title {
  display: inline-block;
  font-size: 2rem;
  font-weight: 400;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
}
#index .article-list .article-list-item .article-info-wrap .article-info .article-info-title:hover {
  color: #ffb733;
}
#index .article-list .article-list-item .article-info-wrap .article-info .article-info-others span {
  font-size: 1.4rem;
}
#index .article-list .article-list-item .article-info-wrap .article-info .article-info-others span:hover {
  color: #ffb733;
}
#index .article-list .article-list-item .article-info-wrap .article-info .article-info-others span:not(:last-child) {
  margin-right: 4px;
}
#index .article-list .article-list-item .article-picture-wrap {
  width: 100%;
  background-color: #ffffff;
}
#index .article-list .article-list-item .article-picture-wrap .article-picture {
  display: block;
  width: 100%;
}
#index .article-list .article-list-item .article-summary-div {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 15px 10px;
}
#index .article-list .article-list-item .article-summary-div .article-summary-p {
  color: #666;
  font-size: 1.8rem;
  line-height: 1.6;
  text-indent: 2em;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
#index .article-list .article-list-item .article-tags {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 1rem auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 .8rem;
}
#index .article-list .article-list-item .article-tags .article-tags-item {
  padding: .2rem .6rem;
  font-size: 1.6rem;
  color: #3d3d3d;
  -webkit-border-radius: .4rem;
  -moz-border-radius: .4rem;
  border-radius: .4rem;
  box-shadow: 0 0 3px #333;
  cursor: pointer;
}
#index .article-list .article-list-item .article-tags .article-tags-item:hover {
  background-color: #f7f7f7 !important;
}
#index .article-list .article-list-item .article-tags .article-tags-item:nth-child(4n+1) {
  background-color: #bee1e5;
}
#index .article-list .article-list-item .article-tags .article-tags-item:nth-child(4n+2) {
  background-color: #d9e8bf;
}
#index .article-list .article-list-item .article-tags .article-tags-item:nth-child(4n+3) {
  background-color: #fff2a4;
}
#index .article-list .article-list-item .article-tags .article-tags-item:nth-child(4n+4) {
  background-color: #ffb1bd;
}
#index .article-list .article-list-item .article-tags .article-tags-item:not(:last-child) {
  margin-right: 1.6rem;
}
@media screen and (max-width: 768px) {
  #index .index-title {
    font-size: 1.8rem;
  }
  #index .tags .tags-item {
    padding: 0 .4rem;
    font-size: 1.2rem;
  }
  #index .article-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #index .article-list .article-list-item .article-info-wrap .article-author-img {
    display: none;
  }
  #index .article-list .article-list-item .article-info-wrap .vertical-line-div {
    display: none;
  }
  #index .article-list .article-list-item .article-info-wrap .article-info .article-info-title {
    font-size: 1.6rem;
  }
  #index .article-list .article-list-item .article-info-wrap .article-info .article-info-others span {
    font-size: 1.2rem;
  }
  #index .article-list .article-list-item .article-summary-div .article-summary-p {
    font-size: 1.4rem;
  }
  #index .article-list .article-list-item .article-tags .article-tags-item {
    padding: .1rem .4rem;
    font-size: 1.2rem;
  }
}
